.service-box {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 84px;
}

.service-box>a,
.service-box>div {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-family: Openhuninn, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: pre;

  height: 392px;
  width: 231px;
  padding-top: 127px;
  padding-bottom: 30px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  user-select: none;
  cursor: pointer;

  filter: drop-shadow(1px 3px 3px rgba(0 0 0/0.2));
}

.service-box>a::after,
.service-box>div::after {
  content: attr(data-title);
  color: rgb(83, 87, 90);

  position: absolute;
  top: calc(27px + 100%);
  left: 50%;
  transform: translateX(-50%);

  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;

  height: 67px;
  width: 131px;

  border: 2px solid var(--theme-color-hex);
  border-radius: 8px;

  padding-left: 2px;
  box-sizing: border-box;

  background-color: white;
  filter: drop-shadow(1px 3px 3px rgba(0 0 0/0.2));

  display: flex;
  align-items: center;
  justify-content: center;
}

.service-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  color: grey;
}

.service-header:last-child {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.service-body {
  display: block;
  text-align: center;
  color: white;
  line-height: 2.5;
}

.advertising {
  background-image: url(./../../../assets/index/advertising.webp)
}

.seo-service {
  background-image: url(./../../../assets/index/seoService.webp)
}

.social-media {
  background-image: url(./../../../assets/index/socialMedia.webp)
}

.cis {
  background-image: url(./../../../assets/index/cis.webp)
}


@media (max-width: 1200px) and (min-width: 768px) {
  .service-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: center;
    margin: 5rem auto 0;
    position: relative;
    width: fit-content;
    width: 100vw;
    height: 70rem;
    justify-content: space-evenly;
    gap: unset;
  }
}

@media (max-width: 768px) {
  .service-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-items: center;
    margin: 5rem auto 0;
    position: relative;
    width: fit-content;
    width: 100vw;
    height: 70rem;
    justify-content: space-evenly;
    gap: unset;
  }

  .service-box>a,
  .service-box>div {
    font-size: 1.5rem;
    font-weight: 700;
    width: 15rem;
    height: 26rem;
    padding: unset;
    padding-top: 8rem;
    filter: unset;
    justify-content: unset;
  }

  .service-box>a::after,
  .service-box>div::after {
    font-size: 1.6rem;
    top: calc(1.4rem + 100%);
    height: 4.6rem;
    width: 9rem;
  }

  .service-header {
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    height: 5rem;
    width: 100%;
    text-align: center;
    transform: scale(0.7);
  }

  .service-header> :nth-child(2) {
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 0 2rem;
  }

  .service-body {
    line-height: 2;
  }
}