.content-list-page {
    position: relative;
    border: unset;
    width: fit-content;
    font-size: 36px;
    line-height: 1.2;

    color: #23b8bc;
    font-family: var(--font-tag);
}

.tag-page {

    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}