.index-banner {
    position: relative;
    margin-top: var(--header-height);

    width: 100%;
    border-radius: 6px;
    background-color: grey;
    filter: drop-shadow(0px 7px 6px rgba(0 0 0/0.6));

    @media (max-width: 768px) {
        filter: unset;
    }

    .index-banner-img {
        display: block;
        width: 100%;
        height: 636px;
        overflow: hidden;
        object-fit: cover;
    }

    .stepper {
        position: absolute;
        inset: 0;
        background-color: transparent;
        padding: unset;
    }

    .banner-icon {
        width: 200px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30%;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .index-banner-img {
            height: 18rem;
        }

        .banner-icon {
            width: 8rem;
            background-size: 35%;
        }
    }

    .prev {
        background-image: url(../../../assets/img/button_bannerLeft.svg);

        &:hover {
            opacity: 0.8;
        }
    }

    .next {
        background-image: url(../../../assets/img/button_bannerRight.svg);

        &:hover {
            opacity: 0.8;
        }
    }
}