.footer-wrapper {
    position: relative;
    background-color: var(--theme-black-color-hex);
    height: calc(56px + 275px);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .footer-box {
        height: 275px;
        width: inherit;
        background-color: var(--theme-color-hex);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .top-side,
        .bottom-side {
            position: relative;
            display: flex;
            justify-content: center;
        }

        .top-side {
            flex-direction: row;
            align-items: center;
            gap: 30px;
            width: 482px;
        }

        .bottom-side {
            width: 800px;
            font-size: 16px;
            flex-wrap: wrap;
            color: white;
            row-gap: 24px;

            &>a {
                margin: 0 35px;
            }
        }
    }

    .footer-copyright {
        font-size: 14px;
        color: #fff;
        align-self: center;
        font-family: var(--font-title);
        flex-grow: 1;

        display: flex;
        align-items: center;
    }

    &.index-footer {
        margin-top: 200px;
    }

    &.tag-footer,
    &.all-content-footer {
        margin-top: 110px;
    }

    &.content-footer {
        margin-top: 80px;
    }
}

@media (max-width:768px) {
    .footer-wrapper {
        margin-top: 8rem;
        height: 24rem;

        &.index-footer {
            margin-top: 8rem;
        }

        &.tag-footer,
        &.all-content-footer {
            margin-top: 4rem;
        }

        .footer-box {
            align-items: center;
            flex-direction: column;
            margin: unset;
            height: 20rem;
            gap: unset;

            .top-side,
            .bottom-side {
                width: 100%;
                line-height: 1;
            }

            .top-side {
                width: 100%;
                align-items: center;
                gap: 1.5rem;
                font-size: 1rem;
                letter-spacing: 0.2rem;
            }

            .bottom-side {
                font-size: 1rem;
                column-gap: 2rem;
                row-gap: 2rem;
                padding: 0 2rem;
                box-sizing: border-box;

                &>a {
                    margin: unset;
                }
            }

        }

        .footer-copyright {
            font-size: 1rem;
        }
    }
}