.nav-button {
  border: unset;
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 3.5rem;
  /* background-color: lightgrey; */
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
}

.nav-button>.nav-text-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  font-family: var(--font-title);
}

@media (max-width: 1200px) {

  .nav-button>.bubble {
    filter:
      drop-shadow(1px 0px 0px rgba(255, 255, 255, 1)) drop-shadow(0px 1px 0px rgba(255, 255, 255, 1)) drop-shadow(-1px 0px 0px rgba(255, 255, 255, 1)) drop-shadow(0px -1px 0px rgba(255, 255, 255, 1));
  }

  .nav-text-wrapper>div:first-child {
    margin-bottom: -0.5rem;
  }
}

@media (max-width: 768px) {
  .nav-button>.nav-text-wrapper {
    color: white;
  }
}