.tag {
  position: relative;
  color: var(--vice-color-hex);
  display: flex;
  flex-direction: row;
  gap: 2px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;

  &.footer-layout {
    color: #fff;
  }

  &.ellipsis {
    display: block;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tag.icon-tag {
  padding-left: 28px;
}

.tag.icon-tag::before {
  content: "";
  background-image: url(../../../assets/img/button_tagIcon_pink.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .tag {
    font-size: inherit;
    flex-basis: 7rem;
    justify-content: center;
  }
}